{% set isEnabled = app.user.enabled and user.enabled %}
<div class="user-container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <strong class="user-name {{ isEnabled ? '' : 'disabled' }}">{{ user.username }}</strong>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="{{ path('disable_user', { 'id': user.id, 'page': page }) }}"
               class="btn btn-primary {{ isEnabled ? '' : 'disabled' }}">
                {{ 'Disable'|trans }}
            </a>
        </div>
    </div>
</div>
